---
import { useI18n } from "astro-nanostores-i18n:runtime";
import Spotlight from "../../layouts/sections/Spotlight.astro";
import Shell from "../../layouts/Shell.astro";
import { generateGetStaticIndexPaths } from "../../utils/paths";

export const getStaticPaths = generateGetStaticIndexPaths("[...locale]");

const messages = useI18n("src/pages/[...locale]/index.astro", {
  spotlightTitle: "Connects and Empowers",
  spotlightContent: "Join us in our mission to connect and empower the EdTech space with our products.",
  spotlightActionConnect: "Connect",
  spotlightActionConnectLink: "/about",
  spotlightActionEmpower: "Empower",
  spotlightActionEmpowerLink: "/products",
});

const { translations } = Astro.props;
---

<Shell translations={translations}>
  <Spotlight>
    <h1 slot="title">{messages.spotlightTitle}</h1>
    <p slot="content">{messages.spotlightContent}</p>
    <Fragment slot="actions">
      <a href={messages.spotlightActionEmpowerLink} class="button primary">{messages.spotlightActionEmpower}</a>
      <a href={messages.spotlightActionConnectLink} class="button">{messages.spotlightActionConnect}</a>
    </Fragment>
    <div slot="stage">Stage</div>
  </Spotlight>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci facere iste numquam ex, velit eaque voluptate
    assumenda beatae qui quis, recusandae delectus aliquam sequi perferendis reiciendis voluptatem commodi fugiat
    quisquam!
  </p>
  <p>
    Voluptas nihil consequatur ex ratione corporis vero laboriosam, nostrum dolor, quod dolorum adipisci aperiam veniam
    et eaque, possimus dicta qui esse quam alias magni! Assumenda esse quibusdam nesciunt voluptatem eaque.
  </p>
  <p>
    Itaque, doloremque quam minima accusamus excepturi alias dolorum adipisci mollitia. At modi voluptate alias earum ab
    rem. Aliquam nam ullam similique unde tenetur, nemo dolorum modi quae, numquam inventore quod?
  </p>
  <p>
    Quasi eius distinctio itaque hic esse praesentium impedit officia alias, accusantium quam necessitatibus
    exercitationem assumenda asperiores eum nostrum debitis quo sequi nam minus rem? Perspiciatis dolorum aperiam
    reprehenderit placeat earum!
  </p>
  <p>
    Laborum a quos, neque ipsam consectetur dolorum adipisci voluptatibus fuga ut eligendi dignissimos consequuntur cum
    in eos reprehenderit magni minus ducimus delectus unde. Porro, soluta? Accusantium quos similique officiis esse.
  </p>
  <p>
    Quaerat nihil blanditiis eum rem dolorem! Optio, dolores. Delectus ipsam reprehenderit eius autem sint? Vero
    assumenda optio voluptate saepe autem alias recusandae eum expedita odio tempora atque, et sint consequuntur?
  </p>
  <p>
    Hic exercitationem cupiditate iste alias voluptatibus modi error incidunt deserunt suscipit debitis sed maiores
    nulla repellendus et, ipsam adipisci ducimus in delectus, pariatur asperiores quaerat labore natus iure nobis?
    Repellendus.
  </p>
  <p>
    Inventore distinctio laudantium quibusdam enim iusto ut quo atque, voluptate obcaecati rerum reprehenderit iste
    fugiat animi possimus dolores mollitia. Adipisci quasi numquam voluptatibus impedit beatae quisquam totam dolore
    nostrum tempore.
  </p>
  <p>
    Facilis repellat quisquam debitis! Aperiam quo error debitis cupiditate aspernatur consequuntur dolor adipisci
    necessitatibus libero reprehenderit placeat dolorum itaque esse maxime nulla reiciendis officia laudantium,
    perspiciatis repellat. Dolorum, in cum.
  </p>
  <p>
    Blanditiis, dolorum? Excepturi alias accusantium magni quia? Corporis suscipit quidem pariatur optio dolores at
    provident aperiam error quas temporibus, autem, laboriosam doloribus in neque perferendis voluptas consectetur aut.
    Quidem, repellat.
  </p>
  <p>
    Porro sit, assumenda veritatis similique accusantium illo, ipsum autem dolores, quam nostrum velit placeat. Amet
    dignissimos nisi delectus similique, tenetur quasi eum vitae officiis libero optio ipsa nostrum enim autem.
  </p>
  <p>
    Sint incidunt consequatur voluptatem iusto laudantium obcaecati illo aliquid amet rerum enim et eaque accusamus, ex
    nobis est vero, voluptatum doloribus non. Ipsam, pariatur placeat nostrum commodi accusamus non sint!
  </p>
  <p>
    Libero doloribus cupiditate voluptatem est non autem nulla, deleniti alias ratione fugit animi quasi soluta eum sunt
    dolore! Accusantium aliquam error vitae beatae sit consequatur possimus commodi exercitationem voluptate enim?
  </p>
  <p>
    Ad sapiente placeat fugiat necessitatibus expedita! Nesciunt itaque dolore repudiandae quos animi neque, magni
    facere quisquam sequi dolores quasi eveniet, molestiae facilis hic similique distinctio voluptatum asperiores, illum
    dolor! Perferendis.
  </p>
  <p>
    Quod nemo laudantium ipsa exercitationem, itaque placeat officia architecto laboriosam amet obcaecati qui aut
    dignissimos, tempora eum explicabo aliquid aspernatur ipsam sunt ab dolores atque sint nulla repellat? Qui, eos?
  </p>
  <p>
    Ut saepe dolorem nemo iusto, excepturi delectus quidem facilis accusantium provident harum voluptatum facere rem,
    earum, officiis aspernatur sequi asperiores voluptatibus veritatis suscipit aliquam impedit tenetur similique odit
    fugiat? Soluta.
  </p>
  <p>
    Ducimus error omnis nemo id sed modi ad placeat non laborum, expedita nobis explicabo, doloribus quam necessitatibus
    doloremque temporibus sit cupiditate asperiores aliquam sapiente quis, aperiam mollitia rem provident? Ipsa.
  </p>
  <p>
    Blanditiis nobis voluptates doloribus corrupti consectetur incidunt sit commodi animi dicta similique dignissimos,
    tempora exercitationem, eum, vero accusantium magni ut quos dolor dolorem esse consequuntur. Laudantium dolor nihil
    amet ex?
  </p>
  <p>
    Incidunt, quas illo natus molestias ea nam soluta officia ratione aliquid! Voluptates, autem aspernatur? Facilis
    officiis, temporibus id officia deleniti dolorem sit pariatur quia sequi quasi, vitae animi laudantium soluta.
  </p>
  <p>
    Quibusdam inventore repudiandae totam amet eius error enim, fugiat esse delectus facilis dolorum quaerat ipsam, vel
    velit! Voluptatem itaque porro odio totam laborum? Architecto aspernatur beatae maiores officiis. Dolorem, dolor.
  </p>
</Shell>
