---
import { i18nProps } from "astro-loader-i18n";
import Shell from "../../../layouts/Shell.astro";
import { defaultPropsAndParamsOptions, generateGetStaticIndexPaths } from "../../../utils/paths";
import slug from "limax";
import { getCollection } from "astro:content";
import Meta from "../../../layouts/groups/Meta.astro";
import Article from "../../../layouts/templates/Article.astro";
import { useI18n } from "astro-nanostores-i18n:runtime";
import SpotlightCard from "../../../components/cards/SpotlightCard.astro";
import DerivedCover from "../../../components/DerivedCover.astro";
import IconCover from "../../../components/IconCover.astro";

export const getStaticPaths = generateGetStaticIndexPaths("[...locale]/[products]");

const {
  translations,
  data: { locale },
} = Astro.props;
const messages = useI18n("pages/[...locale]/[products]/index.astro", {
  title: "Products",
  description: "Explore our products designed to empower and connect the EdTech space.",
});
const collection = (await getCollection("products")).filter((entry) => entry.data.locale === locale);
const products = i18nProps(collection, {
  ...defaultPropsAndParamsOptions,
  routePattern: `${Astro.routePattern}/[product]`,
  generateSegments: (entry) => ({ product: slug(entry.data.title) }),
});
---

<Shell translations={translations}>
  <Meta slot="meta" title={messages.title} />
  <Article>
    <h1 slot="title">{messages.title}</h1>
    <p>{messages.description}</p>
    <section class="products-list padding-breakout">
      {
        products.map((product) => (
          <SpotlightCard href={product.translatedPath}>
            <Fragment slot="spotlight">
              {product.data.brand ? (
                <IconCover
                  image={{ image: product.data.brand.logo, alt: product.data.title }}
                  primaryColor={product.data.brand.primaryColor}
                  secondaryColor={product.data.brand.secondaryColor}
                />
              ) : (
                <DerivedCover value={product.data.title} />
              )}
            </Fragment>
            <Fragment slot="title">{product.data.title}</Fragment>
            <Fragment slot="description">{product.data.summary}</Fragment>
          </SpotlightCard>
        ))
      }
    </section>
  </Article>
</Shell>

<style>
  p {
    text-align: center;
  }

  .products-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: var(--size-gap);
    margin-block-start: var(--size-gap-huge);
  }
</style>
