---
import type { ImageMetadata } from "astro";
import DerivedCover from "../components/DerivedCover.astro";

type Props = {
  title: string;
  titleLevel?: "h2" | "h3" | "h4" | "h5" | "h6";
  cover?: { alt: string; image: ImageMetadata };
  icon?: { alt: string; image: ImageMetadata };
  hasSpotlight?: boolean;
};

const { title, titleLevel: TitleTag = "h2", cover, icon, hasSpotlight = false } = Astro.props;
const hasActions = Boolean(Astro.slots.actions);
---

<div class:list={["card", hasSpotlight && "has-spotlight", hasActions && "has-actions"]}>
  <TitleTag class="card-title">
    {title}
  </TitleTag>
  <div class="card-description">
    <slot name="description">
      <p>Set description slot!</p>
    </slot>
  </div>
  {
    Astro.slots.actions && (
      <div class="card-actions">
        <slot name="actions" />
      </div>
    )
  }
  {
    hasSpotlight && (
      <div class="card-spotlight">
        <div class="card-spotlight-background">
          {cover && <img src={cover.image.src} alt={cover.alt} width={cover.image.width} height={cover.image.height} />}
          {!cover && <DerivedCover value={title} />}
        </div>
        {icon && <img src={icon.image.src} alt={icon.alt} width={icon.image.width} height={icon.image.height} />}
      </div>
    )
  }
</div>

<style>
  .card {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "description";
    gap: var(--size-gap);
    background: var(--color-white-97);
    padding: var(--size-gap-large);
    border-radius: var(--size-border-radius-large);
    border: var(--border-massive);
  }

  .card.has-actions {
    grid-template-areas:
      "title"
      "description"
      "actions";
  }

  .card.has-spotlight {
    font-size: var(--size-font-large);
    grid-template-columns: minmax(0, 60%) auto;
    grid-template-areas:
      "title spotlight"
      "description spotlight";
  }

  .card.has-spotlight.has-actions {
    grid-template-areas:
      "title spotlight"
      "description spotlight"
      "actions spotlight";
  }

  .card-title {
    grid-area: title;
    margin: 0;
  }

  .card-description {
    grid-area: description;

    > * {
      margin: 0;
    }
  }

  .card-actions {
    grid-area: actions;
  }

  .card-spotlight {
    grid-area: spotlight;
    height: 100%;
    position: relative;

    .card-spotlight-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      svg {
        border-radius: var(--size-border-radius);
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 1280px) {
    .card {
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "spotlight"
        "description";
    }

    .card.has-actions {
      grid-template-areas:
        "title"
        "spotlight"
        "description"
        "actions";
    }

    .card-spotlight {
      height: 10rem;
    }
  }
</style>
