---
import { author as packageAuthor } from "../../../package.json";
import { useI18n } from "astro-nanostores-i18n:runtime";

type Props = {
  title?: string;
  author?: string;
  description?: string;
  keywords?: string;
};

const props = Astro.props;
const messages = useI18n("layouts/groups/Meta.astro", {
  title: "Code for Humans",
  description: "Connect and empower: Our applications aim for empowering humans by enhancing education technology.",
});

const title = props.title ? `${props.title} - ${messages.title}` : messages.title;
const author = props.author || packageAuthor;
const description = props.description || messages.description;
const keywords = props.keywords;
---

<title>{title}</title>
<meta name="author" content={author} />
<meta name="description" content={description} />
{keywords && <meta name="keywords" content={keywords} />}
